@import '../../lib/variables';
@import '../../lib/mixins';

.detail-container {
  @include grid-template(8);

  .product-images {
    grid-column: 1 / 7;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: $product-image-height;

    img{
        min-width: 680px;
    }
  }

  .aside {

    grid-column: 7 / 11;


    .ranking{
      font-size: $font-size-sm;
      color: $darker-grey;
      margin-bottom: $street-sm;

      span {
        margin-right: 5pt;
      }
    }

    .title,
    .subtitle,
    .price {
      color: black;
    }

    .title,
    .subtitle {
      margin-bottom:$street-lg;
    }

    .title,
    .price
    {
      margin-bottom:$street-lg;
    }

    .title {
      font-weight: bold;
      line-height: $font-size-lg-lg / 2;
    }

    .price {
      font-size: $font-size-lg-lg;
    }

    .submit {
      font-size: $font-size-md-sm;
      background-color: $blue;
      border:none;
      @include prefix(border-radius, $border-radius-xs);
      outline: none;
      width: 100%;
      color: white;
      padding: 10pt 5pt;
    }
  }

  .product-description{
    grid-column: 1 / 11;

    .description-title {
      margin: $street-lg 0;
      font-size: $font-size-lg-md;
    }

    .description-text {
      font-size: $font-size-md-sm;
      line-height: 25px;
    }
  }

}



@media (max-width: 800px) {
    .aside {
        padding: $street-lg 0
    }

    .price {
        font-size: 5vw!important;
    }

    .submit {
        padding: $street-md 0!important;
    }
}
