@import '../../lib/variables';
@import '../../lib/mixins';

.gallery {
    width: 100%;
    height: 100%;

    .images-container {

      img {
        @include prefix(border-radius, $border-radius-xs);
        display: none;
        margin: 0 auto;
        position: absolute;
        left: 50%;

        @include prefix(transform, translateX(-50%));

        &.active {
          display: flex;
        }
      }
    }
}
