@import '../../lib/mixins';
@import '../../lib/variables';

.input {
  font-size: $searchbox-font-size;
  width: 100%;
  padding: 10px;
  line-height: 0;
  @include prefix(border-top-left-radius, $searchbox-border-radius);
  @include prefix(border-bottom-left-radius, $searchbox-border-radius);
  border: none;
  outline: none;
  color: $dark-grey;
}

.search-button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: $light-grey;
  padding: 11px;
  @include prefix(border-top-right-radius, $searchbox-border-radius);
  @include prefix(border-bottom-right-radius, $searchbox-border-radius);

  svg {
    font-size: 17px;
  }
}


@media (max-width: 800px) {
    .form {
        margin: 0 $street-md;
    }
}
