@import './mixins';

.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;

  &.flex-column {
    @include prefix(flex-direction, column);
  }
  &.flex-row {
    @include prefix(flex-direction, row);
  }
  &.flex-row-reverse {
    @include prefix(flex-direction, row-reverse);
  }
  &.flex-wrap {
    @include prefix(flex-wrap, wrap);
  }
  &.flex-nowrap {
    @include prefix(flex-wrap, nowrap);
  }
  &.justify-content-start {
    @include prefix(justify-content, flex-start);
  }
  &.justify-content-end {
    @include prefix(justify-content, flex-end);
  }
  &.justify-content-center {
    @include prefix(justify-content, center);
  }
  &.justify-content-between {
    @include prefix(justify-content, space-between);
  }
  &.justify-content-around {
    @include prefix(justify-content, space-around);
  }
  &.justify-content-evenly {
    @include prefix(justify-content, space-evenly);
  }
  &.align-items-start {
    @include prefix(align-items, flex-start);
  }
  &.align-items-end {
    @include prefix(align-items, flex-end);
  }
  &.align-items-center {
    @include prefix(align-items, center);
  }
  &.align-items-stretch {
    @include prefix(align-items, stretch);
  }
  &.align-items-baseline {
    @include prefix(align-items, baseline);
  }
  &.align-content-start {
      @include prefix(align-content, flex-start);
  }
  &.align-content-end {
      @include prefix(align-content, flex-end);
  }
  &.align-content-center {
      @include prefix(align-content, center);
  }
  &.align-content-stretch {
      @include prefix(align-content, stretch);
  }
  &.align-content-between {
      @include prefix(align-content, space-between);
  }
  &.align-content-around {
      @include prefix(align-content, space-around);
  }
}

.grow-item{
  @include prefix(flex-grow, 1);
}
