@mixin grid-template($cols) {
    display: grid;
    grid-template-columns: repeat($cols, 1fr);
    margin: 0 auto;
    grid-gap: 20px;
}

@mixin prefix($attr, $value) {
      -webkit-#{$attr}: $value;
      -moz-#{$attr}: $value;
      -ms-#{$attr}: $value;
      #{$attr}: $value;
}

@mixin keyframes($name) {
      @-webkit-keyframes #{$name} {
            @content;
      }

      @-moz-keyframes #{$name} {
            @content;
      }

      @-o-keyframes #{$name} {
            @content;
      }

      @keyframes #{$name} {
            @content;
      }
}
