// search box
$searchbox-font-size: 18px;
$searchbox-border-radius: 4px;

// colors
$yellow: #FFE600;
$darker-grey: #333333;
$soft-grey: #DDDDDD;
$dark-grey: #666666;
$grey: #999999;
$light-grey: #eeeeee;
$blue: #3483FA;

$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-xs: 10px;
$font-size-md-sm: 16px;
$font-size-md-md: 18px;
$font-size-md-lg: 24px;
$font-size-lg-md: 28px;
$font-size-lg-lg: 46px;

$product-image-height: 400px;

$product-thumbnail-size: 180px;
$border-radius-xs: 4px;

$sidebar-width: 680px;

$street-sm: 16px;
$street-md: 20px;
$street-lg: 32px;

$page-min-width: 1200px;
