@import '../../lib/variables';
@import '../../lib/mixins';

.header-container{
  display: grid;
  @include grid-template(12);
  padding: $font-size-xs 0;

  .logo {
    grid-column: 2 / 3;
    height: 40px;
  }

  .header-content {
    grid-column: 3 / 11;
  }
}


@media (max-width: 800px) {
    .logo {
        @include prefix(box-sizing, content-box) ;
        padding: 0 calc(#{$street-sm} / 2);
    }
    .header-container {
            display: flex!important;
            align-items: center;
    }
}
