@import './lib/reset';
@import './lib/flex';
@import './lib/variables';
@import './lib/mixins';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    background-color:$light-grey;
    font-family: 'Roboto', sans-serif;
}

.loading {
    display: inline-block;
    @include prefix(transform, translateX(-50%));
    position: fixed;
    top: 50%;
    left: 50%;
    @include prefix(transform, translateY(-50%));
    @include prefix(transform, translateX(-50%));
    z-index: 99999;
}

.link,
.link a {
    text-decoration: none;
}

.link {
    cursor: pointer;
    @include prefix(transition, color 500ms linear);

    &:hover {
        color: black;
    }
    svg {
        fill: $grey;
    }
}

// grid system
// 12 columns
.grid {
    padding-bottom: 80px;
    @include grid-template(12);
}

.header {
    grid-column: 1 / 13;
    background: $yellow;
}

.breadcum {
    grid-row: 2 / 3;
}

.breadcum,
.main
{
    grid-column: 2 / 11;
}

.main {
    padding-top: $street-md;
    padding-bottom: $street-md;
    background-color: white;
    border-right: solid $street-md white;
    border-left: solid $street-md white;
}

.item-product:last-child .separator:after {
    display: none;
}

@media (max-width: 800px) {
    .header,
    .header-container,
    .grid,
    .detail-container
     {
        display: block;
    }
}
