@import '../../lib/variables';

.breadcum,
.breadcum a {
    display: flex;
    align-items: center;
}


.breadcum {
    list-style: none;
    margin: 0;
    flex-wrap: wrap;

    li {
        font-size: $font-size-sm;
        color: $grey;

        &.link{
            display: inline-flex;
            a {
                color: $grey;
            }
        }

        svg {
            margin: 0 5px;
            fill: $grey;
        }

        &.current {
            font-weight: bold;
        }

        &:last-child {
            font-weight: bold;
        }
    }
}



@media (max-width: 800px) {
    .breadcum,
    .breadcum a {
        align-items: start;
    }
    .breadcum {
        padding-left: $street-sm;
        padding-bottom: $street-sm;
        .link a {
            padding: $street-sm $street-sm 0 0;
        }
    }
}
