@import '../../lib/variables';
@import '../../lib/mixins';

.separator{
    padding-top: $street-sm;

    &:after {
        display: block;
        clear: both;
        content: '';
        width: 100%;
        height : 1px;
        border-bottom : solid 1px $light-grey;
        padding-bottom: $street-sm;
        @include prefix(box-sizing, border-box);
    }
}

.link a {
    color: black;
}

.price{
    font-size: 90%;
    font-size: $font-size-md-lg;
    margin: $street-lg 0 $street-lg 0;

    .truck {
        font-size: $font-size-xs;
        background-color: #4FD895;
        margin: 0 10px;
        width: 20px;
        height: 20px;
        @include prefix(display, inline-flex);
        @include prefix(justify-content, center);
        @include prefix(align-items, center);
        @include prefix(border-radius, 50%);
    }
}

.title {
    font-size: $font-size-md-md;
    line-height: 25px;
}

.location {
    padding: $street-lg $street-lg 0 0;
}


.image img {
    height: $product-thumbnail-size;
    margin-right:$street-sm;
}


@media (max-width: 800px) {
    .info {
        flex-direction: column-reverse;
    }
    .item {
        display: flex;
        flex-direction: column;

        .image {
            justify-content: center;
            display: flex
        }
    }
}
